# Here are two--among many, I'm sure--convenient ways to collection financial data with Python.

### Option 1: quandl
[Quandl](https://www.quandl.com/) is a great source for datasets and they make accessing their data even easier with their [API](https://www.quandl.com/tools/python).  One big drawback I've encountered with the API is that I have yet to get it to work behind my company's firewall.  The only other point to note is that if you intend on making over 50 calls in one day, you'll need to get a free API key.

In [4]:
import quandl

df_amzn1 = quandl.get("WIKI/AMZN", start_date="2018-01-01", end_date="2019-01-01")
df_amzn1.head()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2018-01-02,1172.00,1190.00,1170.51,1189.01,2587899.0,0.0,1.0,1172.00,1190.00,1170.51,1189.01,2587899.0
2018-01-03,1188.30,1205.49,1188.30,1204.20,3044664.0,0.0,1.0,1188.30,1205.49,1188.30,1204.20,3044664.0
2018-01-04,1205.00,1215.87,1204.66,1209.59,3000366.0,0.0,1.0,1205.00,1215.87,1204.66,1209.59,3000366.0
2018-01-05,1217.51,1229.14,1210.00,1229.14,3430148.0,0.0,1.0,1217.51,1229.14,1210.00,1229.14,3430148.0
2018-01-08,1236.00,1253.08,1232.03,1246.87,4177533.0,0.0,1.0,1236.00,1253.08,1232.03,1246.87,4177533.0

### Option 2: pandas-datareader
[pandas-datareader](https://pandas-datareader.readthedocs.io/en/latest/) wraps [a lot of interesting APIs](https://pandas-datareader.readthedocs.io/en/latest/remote_data.html) and hands the results back to you in the form of a pandas dataframe.  In my example, I'm using pandas-datareader to call the Yahoo finance API to get Amazon stock price information.  Apparently, the Yahoo API has changed too much/too frequently to the point where the pandas-datareader folks have said "enough, already" and deprecated their support of the API.  Not content to let go just yet, others have offered up the aptly named [fix-yahoo-finance](https://pypi.org/project/fix-yahoo-finance/) package that can be used to plug the Yahoo hole in pandas-datareader.

In [5]:
from pandas_datareader import data as pdr
import fix_yahoo_finance as yf

yf.pdr_override()
df_amzn2 = pdr.get_data_yahoo("AMZN", start="2018-01-01", end="2019-01-01")
df_amzn2.head()

[*********************100%***********************]  1 of 1 downloaded

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2018-01-02,1172.000000,1190.000000,1170.510010,1189.010010,1189.010010,2694500
2018-01-03,1188.300049,1205.489990,1188.300049,1204.199951,1204.199951,3108800
2018-01-04,1205.000000,1215.869995,1204.660034,1209.589966,1209.589966,3022100
2018-01-05,1217.510010,1229.140015,1210.000000,1229.140015,1229.140015,3544700
2018-01-08,1236.000000,1253.079956,1232.030029,1246.869995,1246.869995,4279500